.treeview{
    min-width: 200px;
    max-width: 400px;
    width: auto;
    /*width: 20%;*/
    height: 100%;
    background: gray;
    overflow-y: auto;
    user-select: none;
}




.dir{
    background-color: red;
    padding-bottom: 10px;
    cursor: pointer;
}

.file{
    background-color: aquamarine;
    padding-bottom: 10px;
    cursor: pointer;
}

.treeview iframe.waiting{
    border: none;
    width: 100%;
    height: 100%;
}
.treeview .notopen{
    width: 100%;
    height: calc(100% - 35px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.treeview .settings{
    display: flex;
    height: 35px;
    float: right;
}

.treeview .settings img{
    cursor: pointer;
    margin-left: 10px;
}
