.no-connection-alert {
    z-index: 100;
    position: absolute;
    background-color: var(--fileHoverBackground);
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    bottom: 55px;
    right: 5px;
    max-width: 300px;
}
